body{
  font-family: sans-serif;
  text-align: center;
  margin: 0 auto !important;
}

.navbar{
  position: fixed !important;
  z-index: 10 !important;
  bottom: auto !important;
  top: 0 !important;
  width: 100% !important;
  background-color: black;
  margin: 0 !important;
}

.container{
  margin: 0 auto !important;
  padding: 8em 5em 5em 5em !important;
}
